

body {
    background: lightblue;
}
h1 {
    color:red;
    text-align: center;
}

p{
    color:green;
}

#titulo {
    background-color: blue;
    color: white;
    padding: 10px;        
}


.destacado {
    color:red;
    font-weight: bold;

}